html {
    font-size: 40px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family:'Noto Sans TC', sans-serif;
    background-color: #3F7FBF;
  }

body {
  width: 600px;
  margin: 0 auto;
  background-color: ivory;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color:cornflowerblue;
    text-shadow: 3px 3px 1px black;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

